body, html {
	margin: 0;
	/*min-height: 100vh;*/
	height: 100%;
	font-family: 'avenir';
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

h1 {
	padding: 2% 0 0 0;
}

h2 {
	padding: 0 0 2% 0;
	color: gray;
	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}

.game {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.skip {
	position: absolute;
	bottom: 0;
	right: 0;
}

#canvas-wrap {
	position: relative;
	flex: 1;
	display: flex;
}

#canvas {
	width: 100%;
	flex: 1;
	outline: none;
}

#header {
	background: #333;
	display: flex;
	align-items: center;
}

#title {
	font-size: 200%;
	font-weight: bold;
	padding: 0 10px;
}

.chrome {
	background: #444;
	color: #ccc;
}

#score-wrap {
	padding: 0 10px;
}

#scoreInfo {
	display: flex;
}

#score {
	/*transition: .5s;*/
}

.gold {
	color: #ff0;
}

/*@media (max-width: 700px) {

	#scoreInfo, #instructions {
		display: none;
	}
}
*/
